@charset "utf-8";
/* CSS Document */

body,
td,
th,
p {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 10pt;
  color: #333;
  line-height: 1.5;
}

body {
  background-color: #fdfdfd;
  margin: 0;
  position: relative;
  width: 100%;
}

.skip-link {
  position: absolute;
  top: -999px;
  left: 0;
  background: rgb(56, 56, 56);
  color: white;
  padding: 8px;
  z-index: 100;
  border-bottom-right-radius: 8px;
  font-size: 20pt;
}

.skip-link:focus {
  top: 0;
}

ul,
li {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 10pt;
  color: #333;
}

a {
  color: orange;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #3397db;
  text-decoration: none;
}

a img {
  border: none 0px #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}

article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

#maincontent {
  background-color: #f3f3f3;
  min-height: 100%;
}

#footer {
  background-color: #444;
  color: #aaa;
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
}

#footer p {
  color: #aaa;
}

/* ====================== Navigation ====================== */

nav {
  width: 100%;
  height: 12vh;
  background-color: #252831;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav h1 {
  margin: auto;
}

nav h1 a {
  color: #fff;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;
  padding: 1.2em 0;
  max-height: 100%;
}

#breadcrumb {
  list-style: none;
  background-color: #eee;
  font-size: 17px;
  margin: 0;
  width: 100%;
  height: 6vh;
  display: flex;
  align-items: center;
}

/* Display list items side by side */

#breadcrumb li {
  display: inline;
}

/* Add a slash symbol (/) before/behind each list item */

#breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

/* Add a color to all links inside the list */

#breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
}

/* Add a color on mouse-over */

#breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}

/* ====================== Map ====================== */

#map:focus {
  border: 3px black dotted;
}

#map {
  box-sizing: border-box;
  height: 400px;
  width: 100%;
  background-color: #ccc;
}

/* ====================== Restaurant Filtering ====================== */

.filter-options {
  width: 100%;
  background-color: #3397DB;
  align-items: center;
}

.filter-options h2 {
  color: white;
  font-size: 1.5rem;
  font-weight: normal;
  line-height: 1;
  padding: 10px 0 0 20px;
  margin: auto;
}

.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial, sans-serif;
  font-size: 11pt;
  height: 35px;
  letter-spacing: 0;
  margin: 10px;
  padding: 0 10px;
  width: 200px;
}

/* ====================== Restaurant Listing ====================== */

#restaurants-list {
  background-color: #f3f3f3;
  list-style: outside none none;
  margin: 0;
  padding: 30px 3.5vw 60px;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
}

#restaurants-list li {
  background-color: #fff;
  font-family: Arial, sans-serif;
  margin: 2.5vw;
  padding: 0 0 25px;
  text-align: left;
  border-top-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  box-shadow: 2px 1px 15px #25283148;
}

#restaurants-list li :not(.restaurant-img):not(picture):not(source) {
  margin-left: 5%;
  margin-right: 5%;
}

#restaurants-list .restaurant-img {
  border-top-left-radius: 1rem;
  background-color: #ccc;
  display: block;
  margin: 0;
  width: 100%;
}

#restaurants-list li h1 {
  color: #f18200;
  font-family: Arial, sans-serif;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 0 10px;
  text-transform: uppercase;
}

#restaurants-list p {
  margin: 0;
  font-size: 11pt;
}

#restaurants-list li a {
  background-color: orange;
  border-bottom: 3px solid #eee;
  color: #fff;
  display: inline-block;
  width: 8em;
  font-size: 10pt;
  padding: 1em;
  margin: 15px 0 0;
  border-radius: 0.5em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

/* ====================== Restaurant Details ====================== */

.inside {
  display: flex;
  flex-wrap: wrap;
}

.inside #maincontent {
  margin-top: 18vh;
  width: 100%;
  display: grid;
}

.inside header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1001;
}

.inside #map-container {
  background: blue none repeat scroll 0 0;
  height: 400px;
  width: 100%;
}

.inside #map {
  background-color: #ccc;
  height: 100%;
  width: 100%;
  position: relative;
}

.inside #footer {
  width: 100%;
}

#restaurant-name {
  color: #f18200;
  font-family: Arial, sans-serif;
  font-size: 20pt;
  font-weight: 200;
  letter-spacing: 0;
  margin: 1em 0;
  text-transform: uppercase;
  line-height: 1.1;
}

#restaurant-visual-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

#restaurant-img {
  width: 100%;
  height: 100%;
  border-top-left-radius: 1rem;
}

#restaurant-address {
  font-size: 12pt;
  margin: 10px 0px;
  width: 100%;
}

#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 1em 0;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  border-bottom-right-radius: 1rem;
}

#restaurant-container,
#reviews-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  padding: 0 10%;
  display: grid;
}

#reviews-container {
  padding-bottom: 30px;
}

#reviews-container h2 {
  color: #f58500;
  font-size: 20pt;
  font-weight: 300;
  letter-spacing: -1px;
  margin: 1em 0;
}

#reviews-list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-row-gap: 20px;
}

#reviews-list .review {
  background-color: #fff;
  border: 2px solid #f3f3f3;
  display: block;
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  position: relative;
  width: 100%;
  border-top-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

#restaurant-hours td {
  color: #666;
}

.review-meta {
  display: flex;
  background-color: #333;
  padding: 0 1rem;
  align-items: center;
}

.review-reviewer {
  color: #fff;
  font-size: 13pt;
}

.review-date {
  margin-left: auto;
  color: rgba(255, 255, 255, 0.76);
}

.review-data {
  padding: 0 1rem;
}

.review-rating {
  display: block;
  background-color: orange;
  width: 8em;
  text-align: center;
  font-size: 10pt;
  color: #fff;
  padding: 0.2em 0;
  border-radius: 0.5em;
  text-decoration: none;
  text-transform: uppercase;
}

@media screen and (max-width: 450px) {
  .filter-options {
    align-items: center;
  }
  .filter-options select {
    width: calc(100% - 20px);
  }
}

@media screen and (min-width: 450px) {
  .review-data,
  .review-meta {
    padding: 0 5%;
  }
}

@media screen and (min-width: 600px) {
  #restaurants-list {
    grid-template-columns: 1fr 1fr;
  }
  #restaurants-list li {
    margin: 2vw;
  }
}

@media screen and (min-width: 720px) {
  #reviews-list {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
  }
}

@media screen and (min-width: 720px) and (max-width: 1019px) {
  #restaurant-container {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
  }
  #restaurant-name {
    grid-column: 1/3;
  }
}

@media screen and (min-width: 1020px) and (max-width: 1199px) {
  #restaurant-container {
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
  }
  #restaurant-name {
    grid-column: 1/4;
  }
  #restaurant-visual-container {
    grid-column: 1/3;
  }
}

@media screen and (min-width: 1200px) {
  .filter-options-content {
    max-width: 1200px;
    margin: auto;
  }
  #restaurants-list {
    padding-left: calc((100% - 1200px) / 2);
    padding-right: calc((100% - 1200px) / 2);
    grid-template-columns: 1fr 1fr 1fr;
  }
  #restaurants-list li {
    margin: 1.5vw;
  }
  .inside #footer {
    position: fixed;
    bottom: 0;
    height: 6vh;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .inside #maincontent {
    margin-bottom: 6vh;
    grid-template-columns: 1fr 1fr;
  }
  .inside #map-container {
    grid-row: 1/3;
    grid-column: 2/3;
    height: 76vh;
  }
  .inside #map {
    position: fixed;
    height: 76vh;
    width: 50vw;
  }
  #reviews-list {
    grid-template-columns: 1fr;
  }
}